@font-face{
    font-family: 'Fira Mono';
    src: url('FiraMono-Bold.eot');
    src: url('FiraMono-Bold.eot') format('embedded-opentype'),
         url('FiraMono-Bold.woff2') format('woff2'),
         url('FiraMono-Bold.woff') format('woff'),
         url('FiraMono-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

