<section class="fullscreen KIGG">
    <div class="card-50">
        <figure>
            <img src="images/KiggFlyer2.jpg" alt="KIGG GmbH">
            <figcaption>
                <a href="http://www.kigg.de" title="KIGG GmbH" target="_blank">
                    <svg class="ffa-external-link">
                        <use xlink:href="#fa-external-link"></use>
                    </svg>
                    KIGG GmbH
                </a>
            </figcaption>
        </figure>
        <div class="flex-content">
            <h2>KIGG GmbH</h2>
            <ul class="description">
                <li>
                    <strong class="text-label">Role:</strong> Multimedia Producer, Project Manager
                </li>
                <li><strong class="text-label">Dates:</strong> August 2002 - November 2004</li>
            </ul>
            <h6>Main activities</h6>
            <p>
                Project management <br/>
                Web design  <br/>
                Multimedia Production (CD-ROM)
            </p>
            <h6>Responsibilities</h6>
            <p>
                Started as a multimedia producer with the campaign documentation of the 2002 mayoral election in Augsburg.
                Worked on web development projects and a candidates state campaign for the elections in 2003.
                Responsible for municipal content management system projects.
            </p>        
        </div>
    </div>
</section>