<section class="fullscreen jobs natureOffice">
    <div class="card-50">
        <figure>
            <img src="images/natureOfficeCut.jpg" alt="natureOffice GmbH">
            <figcaption>
                <a href="https://www.natureOffice.com" title="natureOffice GmbH" target="_blank">
                    <i class="fas fa-external-link-alt"></i>
                    natureOffice GmbH
                </a>
            </figcaption>
        </figure>
        <div class="flex-content">
            <h2>natureOffice GmbH</h2>
            <ul class="description">
                <li>
                    <strong class="text-label">Role:</strong> Head of Software Development, Co-founder
                </li>
                <li><strong class="text-label">Dates:</strong> August 2008 - April 2014</li>
            </ul>
            <h6>Main activities</h6>
            <p>
                Software development and application engineering<br />
                Requirements engineering<br />
                User interface design and usability<br />
                Business strategy development
            </p>
            <h6>Responsibilities</h6>
            <p>
                Corporate Development of the startup as a co-founder, focused on the technical domain.
                Conception, engineering and development of the company‘s products from the beginning with only a few
                users to today‘s completely cloud based fourth version used by hundreds of corporate customers.
                Managing the cooperation with external IT contractors.
                Business development of our South American branch based in Paraguay.
            </p>
        </div>
    </div>
</section>
