<section class="fullscreen MAN">
    <div class="card-50">
        <figure>
            <img src="images/MAN-ES.jpg?v2" alt="MAN Energy Solutions SE">
            <figcaption>
                <a href="https://www.man-es.com/" title="MAN Energy Solutions SE" target="_blank">
                    <svg class="ffa-external-link">
                        <use xlink:href="#fa-external-link"></use>
                    </svg>
                    MAN Energy Solutions SE
                </a>
            </figcaption>
        </figure>
        <div class="flex-content">
            <h2>MAN Energy Solutions SE</h2>
            <ul class="description">
                <li>
                    <strong class="text-label">Role:</strong> 
                    Software Engineer
                </li>
                <li>
                    <strong class="text-label">Department:</strong> 
                    Software Technology, SDC & DevOps South
                </li>
                <li>
                    <strong class="text-label">Dates:</strong> 
                    June 2018 onwards
                </li>
            </ul>

            <h6>Main activities</h6>
            <p>
                Software development and application engineering<br>
                UI/UX Design and consulting<br>
                Working in an agile SCRUM process on different,  web based projects
            </p>
            <!--
            <h6>Responsibilities</h6>
            <p>
                
            </p>
            -->
        </div>
    </div>
</section>