<section class="fullscreen MAN">
    <div class="card-50">
        <figure>
            <img src="images/MAN-ES.jpg?v2" alt="MAN Energy Solutions SE">
            <figcaption>
                <a href="https://www.man-es.com/" title="MAN Energy Solutions SE" target="_blank">
                    <i class="fas fa-external-link-alt"></i>
                    MAN Energy Solutions SE
                </a>
            </figcaption>
        </figure>
        <div class="flex-content">
            <h2>MAN Energy Solutions SE</h2>
            <ul class="description">
                <li>
                    <strong class="text-label">Role:</strong>
                    Software Engineer
                </li>
                <li>
                    <strong class="text-label">Department:</strong>
                    Software Technology, SDC & DevOps South
                </li>
                <li>
                    <strong class="text-label">Dates:</strong>
                    June 2018 onwards
                </li>
            </ul>

            <h6>Main activities</h6>
            <p>
                Software development and application engineering<br>
                UI/UX Design and consulting<br>
                Conceptual design and development of enterprise applications.
            </p>

            <h6>Responsibilities</h6>
            <p>
                Working in an agile SCRUM team on different, web based projects
                in the enterprise sphere. Depending on the actual project the responsibilities are
                reaching from conceptualizing and architectual devising over frontend and backend
                development through to the initial operation in the enterprise cloud infastructure.
            </p>

        </div>
    </div>
</section>
