/* Webfont: AbulaOrganic-Light */@font-face {
    font-family: 'AbulaOrganicLight';
    src: url('AbulaOrganic-Light.eot'); /* IE9 Compat Modes */
    src: url('AbulaOrganic-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AbulaOrganic-Light.woff') format('woff'), /* Modern Browsers */
         url('AbulaOrganic-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('AbulaOrganic-Light.svg#AbulaOrganic-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

