/* Webfont: AbulaOrganic-ExtraLightItalic */@font-face {
    font-family: 'AbulaOrganicExtLt';
    src: url('AbulaOrganic-ExtraLightItalic.eot'); /* IE9 Compat Modes */
    src: url('AbulaOrganic-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AbulaOrganic-ExtraLightItalic.woff') format('woff'), /* Modern Browsers */
         url('AbulaOrganic-ExtraLightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('AbulaOrganic-ExtraLightItalic.svg#AbulaOrganic-ExtraLightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

