/* Webfont: AbulaOrganic-ExtraLight */@font-face {
    font-family: 'AbulaOrganicExtLt';
    src: url('AbulaOrganic-ExtraLight.eot'); /* IE9 Compat Modes */
    src: url('AbulaOrganic-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AbulaOrganic-ExtraLight.woff') format('woff'), /* Modern Browsers */
         url('AbulaOrganic-ExtraLight.ttf') format('truetype'), /* Safari, Android, iOS */
         url('AbulaOrganic-ExtraLight.svg#AbulaOrganic-ExtraLight') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

