/* Webfont: AbulaOrganic-SemiLight */@font-face {
    font-family: 'AbulaOrganicSemLt';
    src: url('AbulaOrganic-SemiLight.eot'); /* IE9 Compat Modes */
    src: url('AbulaOrganic-SemiLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AbulaOrganic-SemiLight.woff') format('woff'), /* Modern Browsers */
         url('AbulaOrganic-SemiLight.ttf') format('truetype'), /* Safari, Android, iOS */
         url('AbulaOrganic-SemiLight.svg#AbulaOrganic-SemiLight') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

