/* Webfont: AbulaOrganic-SemiLightItalic */@font-face {
    font-family: 'AbulaOrganicSemLt';
    src: url('AbulaOrganic-SemiLightItalic.eot'); /* IE9 Compat Modes */
    src: url('AbulaOrganic-SemiLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AbulaOrganic-SemiLightItalic.woff') format('woff'), /* Modern Browsers */
         url('AbulaOrganic-SemiLightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('AbulaOrganic-SemiLightItalic.svg#AbulaOrganic-SemiLightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

