<section class="v4 cover">
  <div class="wrap">
    <div class="content-center center-court">
      <h1>Alexander Schedler</h1>
      <h4 class="subline">District of Augsburg, Germany</h4>
      <p class="text-intro fadeInUp">
        Internet application <mark>engineering</mark>,<br />
        <mark>development</mark> and <mark>management</mark>.
      </p>
      <p class="text-intro fadeInUp">
        Javascript (<mark>Frontend</mark>and Backend), <br />
        HTML, CSS, Node, CouchDB
      </p>
    </div>
  </div>
</section>
