<section class="v4">
  <div class="wrap">
    <div class="content-center center-court">
      <h1>Alexander Schedler</h1>
      <h4 class="subline">District of Augsburg, Germany</h4>
      <p class="text-intro fadeInUp">
        Internet application <mark>&nbsp;engineering </mark>, <br />
        <mark>&nbsp;development </mark> and <mark>&nbsp;management </mark>
      </p>
      <p class="text-intro fadeInUp">
        Javascript (<mark> Frontend </mark> and Backend), <br />
        HTML, CSS, Node, CouchDB
      </p>
    </div>
  </div>
</section>
