<section class="contact">
  <div class="wrap">
    <div class="content-center center-court">
      <h2>Alexander Schedler</h2>
      <h4 class="subline">District of Augsburg, Germany</h4>
      <p class="fadeIn">
        <a href="tel:+491714123929" title="Phone">
          <i class="fa fa-mobile"></i>
          +49 171 4 123 929
        </a>
        <br />
        <a href="mailto:alex@schedler.co" title="Email">
          <i class="fa fa-envelope"></i>
          alex@schedler.co
        </a>
        <br />
        <a
          href="https://www.twitter.com/kulturpessimist"
          title="Twitter"
          target="_blank"
        >
          <i class="fab fa-twitter"></i>
          @kulturpessimist
        </a>
        <br />
        <a
          href="https://mastodon.technology/@kulturpessimist"
          title="Mastodon"
          target="_blank"
        >
          <i class="fab fa-mastodon"></i>
          kulturpessimist@mastodon.technology
        </a>
        <br />
        <a
          href="https://www.github.com/kulturpessimist"
          title="Github"
          target="_blank"
        >
          <i class="fab fa-github"></i>
          /kulturpessimist
        </a>
        <br />
        <a
          href="https://www.linkedin.com/in/alexanderschedler"
          title="LinkedIn"
          target="_blank"
        >
          <i class="fab fa-linkedin"></i>
          /alexanderschedler
        </a>
        <br />
        <a
          href="https://www.xing.com/profile/Alex_Schedler"
          title="Xing"
          target="_blank"
        >
          <i class="fab fa-xing"></i>
          /Alex_Schedler
        </a>
      </p>
    </div>
  </div>
</section>
