<section class="v4 contact">
  <div class="wrap">    
    <div class="content-center center-court" style="display: flex;min-width: 80%;">
      <div style="padding-right:10%;">
        <h2>Alexander Schedler</h2>
        <h4 class="subline">District of Augsburg, Germany</h4>
        <p class="fadeIn">
          Want to get in touch?<br>
          Just write me an Email
          <a href="mailto:alex@schedler.co" title="Email">alex@schedler.co </a> or call me 
          <a href="tel:+491714123929" title="Phone">+49 171 4 123 929 </a> and follow me on twitter
          <a
            href="https://www.twitter.com/kulturpessimist"
            title="Twitter" target="_blank"
          >@kulturpessimist </a> or if you prefer Mastodon
          <a
            href="https://mastodon.technology/@kulturpessimist"
            title="Mastodon" target="_blank"         
          ><!--kulturpessimist-->@mastodon.technology </a> and star my work on Github<a
            href="https://www.github.com/kulturpessimist"
            title="Github" target="_blank"
          >/kulturpessimist </a> or connect me on LinkedIn
          <a
            href="https://www.linkedin.com/in/alexanderschedler"
            title="LinkedIn" target="_blank"
          >/alexanderschedler </a> or Xing if you are german<a
            href="https://www.xing.com/profile/Alex_Schedler"
            title="Xing" target="_blank"
          >/Alex_Schedler </a>
        </p>
      </div>
      <div class="slideInLeft">
        <img src="/images/contact2.svg" alt="Hi!" style="margin-top:10rem">
      </div>
    </div>
    
  </div>
</section>
