<section class="freelance slideInRight">
  <div class="wrap">
    <div class="content-center center-court fadeIn">
      <h2>Alexander Schedler</h2>
      <h4 class="subline">freelance software developer</h4>
      <p class="">
        Currlently I am working salaried for<br>
        <a href="#slide=5" target="_self">MAN Energy Solutions</a>. I also do <mark class="white">&nbsp;freelance </mark>&nbsp;<br />
        <mark class="white">&nbsp;work </mark>
        with a key focus on <mark class="white">&nbsp;enterprize </mark>and<br />
        <mark class="white">&nbsp;b2b web applications </mark>as well as <br>
        <mark class="white">&nbsp;Javascript </mark>
        and <mark class="white">&nbsp;CouchDB </mark>consulting.
        <br />
        <br />
        <a href="mailto:alex@schedler.co" title="Email">
          Need my help? Just write me.
        </a>
      </p>
    </div>
  </div>
</section>
