<section class="freelance fadeIn">
  <div class="wrap">
    <div class="content-center center-court inverse">
      <h2>Alexander Schedler</h2>
      <h4 class="subline">District of Augsburg, Germany</h4>
      <p class="">
        Currlently I am working with
        <a href="#slide=5" target="_self">MAN Energy Solutions</a>. <br />
        I also do freelance work with a key focus on enterprize<br />
        and b2b web applications as well as <br />
        Javascript and CouchDB consulting.
        <br />
        <a href="mailto:alex@schedler.co" title="Email">
          Need my help? Just write me.
        </a>
      </p>
    </div>
  </div>
</section>
