<section>
    <div class="wrap">
        <h2>Technologies Overview</h2>
        <h4 class="subline">Experience and Expertise (extract)</h4>
        <ul class="flexblock features">
            <li>
                <div>
                    <h2>
                        <img src="images/html.svg" />
                        HTML
                    </h2>
                    Expert with over 15 years of application.
                </div>
            </li>
            <li>
                <div>
                    <h2>
                        <img src="images/css.svg" />
                        CSS
                    </h2>
                    Expert with over 15 years of application.
                </div>
            </li>
            <li>
                <div>
                    <h2>
                        <img src="images/js.svg" />
                        Javascript
                    </h2>
                    Expert with over 15 years of application.
                </div>
            </li>

            <li>
                <div>
                    <h2>
                        <img src="images/couchdb.svg" />
                        CouchDB/CouchApps
                    </h2>
                    Expert with about 10 years of application.
                </div>
            </li>
            <li>
                <div>
                    <h2>
                        <img src="images/nodejs.svg" />
                        NodeJS
                    </h2>
                    Expert with about 8 years of application.
                </div>
            </li>
            <li>
                <div>
                    <h2>
                        <img src="images/aws.svg" style="padding-bottom:20px; margin-top:10px;" />
                        Amazon Web Services
                    </h2>
                    Experienced with about 4 years of application.
                </div>
            </li>

            <li>
                <div>
                    <h2>
                        <img src="images/angular.svg" />
                        Angular
                    </h2>
                    Experienced with about 6 years of application.
                </div>
            </li>
            <li>
                <div>
                    <h2>
                        <img src="images/webcomponents.svg" />
                        WebComponents / Stencil / Polymer
                    </h2>
                    Experienced with about 5 years of application.
                </div>
            </li>

            <li>
                <div>
                    <h2>
                        <img src="images/vue.svg" />
                        Vue
                    </h2>
                    Intermediate with about 1 years of application.
                </div>
            </li>

            <!-- 
            <li>
                <div>
                    <h2>
                        <img src="images/ruby.svg" />
                        Ruby
                    </h2>
                    Experienced with about 7 years of application.
                </div>
            </li>
            -->

        </ul>
    </div>
</section>
