<section class="v4 cover">
  <div class="wrap">
    <h2>Technologies Overview</h2>
    <h4 class="subline">Experience and Expertise (extract)</h4>
    <ul class="flexblock features">
      <li>
        <div>
          <h2>
            <img src="images/js.svg" />
            Javascript
          </h2>
          Expert with over 15 years of application.
        </div>
      </li>
      <li>
        <div>
          <h2>
            <img src="images/html.inverse.svg" />
            HTML
          </h2>
          Expert with over 15 years of application.
        </div>
      </li>
      <li>
        <div>
          <h2>
            <img src="images/css.inverse.svg" />
            CSS
          </h2>
          Expert with over 15 years of application.
        </div>
      </li>
      

      <li>
        <div>
          <h2>
            <img src="images/couchdb.inverse.svg" />
            CouchDB
          </h2>
          Expert with about 12 years of application.
        </div>
      </li>
      <li>
        <div>
          <h2>
            <img src="images/node.inverse.svg" />
            NodeJS
          </h2>
          Expert with about 10 years of application.
        </div>
      </li>
      <li>
        <div>
          <h2>
            <img
              src="images/aws.inverse.svg"
              style="padding-bottom:20px; margin-top:10px;"
            />
            Amazon Web Services
          </h2>
          Experienced with about 4 years of application.
        </div>
      </li>
      <li>
        <div>
          <h2>
            <img src="images/vue.svg" />
            Vue
          </h2>
          Experienced with about 3 years of application.
        </div>
      </li>
      <li>
        <div>
          <h2>
            <img src="images/angular.svg" />
            Angular
          </h2>
          Experienced with about 6 years of application.
        </div>
      </li>
      <li>
        <div>
          <h2>
            <img src="images/webcomponents2.inverse.svg" style="margin-bottom:40px;" />
            WebComponents (Stencil, Polymer/LIT, etc.)
          </h2>
          Experienced with about 7 years of application.
        </div>
      </li>

      <!-- 
            <li>
                <div>
                    <h2>
                        <img src="images/ruby.svg" />
                        Ruby
                    </h2>
                    Experienced with about 7 years of application.
                </div>
            </li>
            -->
    </ul>
  </div>
</section>
