:root {
  --man: #e40045;
  --man-text: #91173e;
  --internet-of-blah: #6653ff;
  --internet-of-blah-text: #2c2b90;
  --thinxnet: #ff6600;
  --thinxnet-text: #852811;
  --natureoffice: #5f9e64;
  --natureoffice-text: #234625;
  --dynomedia: #00aeef;
  --dynomedia-text: #123f7d;
  --kigg: #d00027;
  --kigg-text: #8d1a2f;
}
#man,
#internet-of-blah,
#thinxnet,
#natureoffice,
#dynomedia,
#kigg {
  transition: opacity 1s linear;
  opacity: 1;
}
.impress-on-overview #man,
.impress-on-overview #internet-of-blah,
.impress-on-overview #thinxnet,
.impress-on-overview #natureoffice,
.impress-on-overview #dynomedia,
.impress-on-overview #kigg {
  opacity: 0.1;
}

/*
Jobs pictures...
*/
.left-overlay {
  width: 100vh;
  width: max(calc((100vh - 50vw)), 50vw);
  /* height: min(calc((100vh - 50vw) * -1), 50vw); */

  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  /* left: -1rem;
  left: min(calc((100vh - 50vw) * -1), -20); */
  opacity: 0;
  transition: all 1s ease-in-out;

  transform: translateX(-100vw);

  background-image: none;
  background-color: var(--background-light);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 769px) {
  .left-overlay {
    display: none;
  }
}

.impress-on-man .left-overlay {
  opacity: 1;
  transform: translateX(0);

  background-image: url("../images/MAN-ES.jpg");
  background-position: bottom right;
}
.impress-on-internet-of-blah .left-overlay {
  opacity: 1;
  transform: translateX(0);

  background-image: url("../images/Internet-of-Blah.jpg");
}
.impress-on-thinxnet .left-overlay {
  opacity: 1;
  transform: translateX(0);

  background-image: url("../images/ThinxNetStreets.jpg");
}
.impress-on-natureoffice .left-overlay {
  opacity: 1;
  transform: translateX(0);

  background-image: url("../images/natureOfficeCut.jpg");
}
.impress-on-dynomedia .left-overlay {
  opacity: 1;
  transform: translateX(0);

  background-image: url("../images/DynomediaDark.png");
}
.impress-on-kigg .left-overlay {
  opacity: 1;
  transform: translateX(0);

  background-image: url("../images/KiggFlyer2.jpg");
  background-position: bottom left;
}

/**/
body.impress-on-man,
body.impress-on-internet-of-blah,
body.impress-on-thinxnet,
body.impress-on-natureoffice,
body.impress-on-dynomedia,
body.impress-on-kigg {
  background-color: var(--background-light);
  border: 0px solid var(--background-light);
}

body.impress-on-man h3,
body.impress-on-man a,
body.impress-on-man a:visited {
  color: var(--man);
}
body.impress-on-man a:hover,
body.impress-on-man a:active {
  color: var(--man-text);
}

body.impress-on-internet-of-blah h3,
body.impress-on-internet-of-blah a,
body.impress-on-internet-of-blah a:visited {
  color: var(--internet-of-blah);
}
body.impress-on-internet-of-blah a:hover,
body.impress-on-internet-of-blah a:active {
  color: var(--internet-of-blah-text);
}

body.impress-on-thinxnet h3,
body.impress-on-thinxnet a,
body.impress-on-thinxnet a:visited {
  color: var(--thinxnet);
}
body.impress-on-thinxnet a:hover,
body.impress-on-thinxnet a:active {
  color: var(--thinxnet-text);
}

body.impress-on-natureoffice h3,
body.impress-on-natureoffice a,
body.impress-on-natureoffice a:visited {
  color: var(--natureoffice);
}
body.impress-on-natureoffice a:hover,
body.impress-on-natureoffice a:active {
  color: var(--natureoffice-text);
}

body.impress-on-dynomedia h3,
body.impress-on-dynomedia a,
body.impress-on-dynomedia a:visited {
  color: var(--dynomedia);
}
body.impress-on-dynomedia a:hover,
body.impress-on-dynomedia a:active {
  color: var(--dynomedia-text);
}

body.impress-on-kigg h3,
body.impress-on-kigg a,
body.impress-on-kigg a:visited {
  color: var(--kigg);
}
body.impress-on-kigg a:hover,
body.impress-on-kigg a:active {
  color: var(--kigg-text);
}

body.impress-on-man h5,
body.impress-on-man div,
body.impress-on-man p,
body.impress-on-man strong {
  color: var(--man-text);
}
body.impress-on-internet-of-blah h5,
body.impress-on-internet-of-blah div,
body.impress-on-internet-of-blah p,
body.impress-on-internet-of-blah strong {
  color: var(--internet-of-blah-text);
}
body.impress-on-thinxnet h5,
body.impress-on-thinxnet div,
body.impress-on-thinxnet p,
body.impress-on-thinxnet strong {
  color: var(--thinxnet-text);
}
body.impress-on-natureoffice h5,
body.impress-on-natureoffice div,
body.impress-on-natureoffice p,
body.impress-on-natureoffice strong {
  color: var(--natureoffice-text);
}
body.impress-on-dynomedia h5,
body.impress-on-dynomedia div,
body.impress-on-dynomedia p,
body.impress-on-dynomedia strong {
  color: var(--dynomedia-text);
}
body.impress-on-kigg h5,
body.impress-on-kigg div,
body.impress-on-kigg p,
body.impress-on-kigg strong {
  color: var(--kigg-text);
}

body.impress-on-man .button.is-text.control {
  color: var(--man);
}
body.impress-on-man .button.is-text.control:hover,
body.impress-on-man .button.is-text.control.is-hovered,
body.impress-on-man .button.is-text.control:focus,
body.impress-on-man .button.is-text.control.is-focused {
  color: var(--man-text);
}

body.impress-on-internet-of-blah .button.is-text.control {
  color: var(--internet-of-blah);
}
body.impress-on-internet-of-blah .button.is-text.control:hover,
body.impress-on-internet-of-blah .button.is-text.control.is-hovered,
body.impress-on-internet-of-blah .button.is-text.control:focus,
body.impress-on-internet-of-blah .button.is-text.control.is-focused {
  color: var(--internet-of-blah-text);
}

body.impress-on-thinxnet .button.is-text.control {
  color: var(--thinxnet);
}
body.impress-on-thinxnet .button.is-text.control:hover,
body.impress-on-thinxnet .button.is-text.control.is-hovered,
body.impress-on-thinxnet .button.is-text.control:focus,
body.impress-on-thinxnet .button.is-text.control.is-focused {
  color: var(--thinxnet-text);
}

body.impress-on-natureoffice .button.is-text.control.imprint,
body.impress-on-natureoffice .button.is-text.control {
  color: var(--natureoffice);
}
body.impress-on-natureoffice .button.is-text.control:hover,
body.impress-on-natureoffice .button.is-text.control.is-hovered,
body.impress-on-natureoffice .button.is-text.control:focus,
body.impress-on-natureoffice .button.is-text.control.is-focused {
  color: var(--natureoffice-text);
}
body.impress-on-natureoffice .button.is-text.control.imprint {
  margin: 10px;
}
body.impress-on-natureoffice .button.is-text.control.imprint:hover,
body.impress-on-natureoffice .button.is-text.control.imprint.is-hovered,
body.impress-on-natureoffice .button.is-text.control.imprint:focus,
body.impress-on-natureoffice .button.is-text.control.imprint.is-focused {
  color: var(--natureoffice-text);
}

body.impress-on-dynomedia .button.is-text.control {
  color: var(--dynomedia);
}
body.impress-on-dynomedia .button.is-text.control:hover,
body.impress-on-dynomedia .button.is-text.control.is-hovered,
body.impress-on-dynomedia .button.is-text.control:focus,
body.impress-on-dynomedia .button.is-text.control.is-focused {
  color: var(--dynomedia-text);
}

body.impress-on-kigg .button.is-text.control {
  color: var(--kigg);
}
body.impress-on-kigg .button.is-text.control:hover,
body.impress-on-kigg .button.is-text.control.is-hovered,
body.impress-on-kigg .button.is-text.control:focus,
body.impress-on-kigg .button.is-text.control.is-focused {
  color: var(--kigg-text);
}

body.impress-on-man .button.is-text.control.imprint,
body.impress-on-internet-of-blah .button.is-text.control.imprint,
body.impress-on-thinxnet .button.is-text.control.imprint,
body.impress-on-dynomedia .button.is-text.control.imprint,
body.impress-on-kigg .button.is-text.control.imprint {
  margin: 10px;
  color: #fff;
}
body.impres-on-man .button.is-text.control.imprint:hover,
body.impress-on-man .button.is-text.control.imprint.is-hovered,
body.impress-on-man .button.is-text.control.imprint:focus,
body.impress-on-man .button.is-text.control.imprint.is-focused,
body.impress-on-internet-of-blah .button.is-text.control.imprint:hover,
body.impress-on-internet-of-blah .button.is-text.control.imprint.is-hovered,
body.impress-on-internet-of-blah .button.is-text.control.imprint:focus,
body.impress-on-internet-of-blah .button.is-text.control.imprint.is-focused,
body.impress-on-thinxnet .button.is-text.control.imprint:hover,
body.impress-on-thinxnet .button.is-text.control.imprint.is-hovered,
body.impress-on-thinxnet .button.is-text.control.imprint:focus,
body.impress-on-thinxnet .button.is-text.control.imprint.is-focused,
body.impress-on-dynomedia .button.is-text.control.imprint:hover,
body.impress-on-dynomedia .button.is-text.control.imprint.is-hovered,
body.impress-on-dynomedia .button.is-text.control.imprint:focus,
body.impress-on-dynomedia .button.is-text.control.imprint.is-focused,
body.impress-on-kigg .button.is-text.control.imprint:hover,
body.impress-on-kigg .button.is-text.control.imprint.is-hovered,
body.impress-on-kigg .button.is-text.control.imprint:focus,
body.impress-on-kigg .button.is-text.control.imprint.is-focused {
  color: #ccc;
}

/*resets*/
body.impress-on-education h1 {
  transition: color 0.33s linear 0s;
}
body.impress-on-education h2 {
  transition: color 0.33s linear 0s;
}
body.impress-on-education h3 {
  transition: color 0.33s linear 0s;
}
body.impress-on-education h5,
body.impress-on-education div,
body.impress-on-education p,
body.impress-on-education strong {
  transition: color 0.33s linear 0s;
}
