:root {
    --main-color: #1BF9D8;
    --background-color: #15032B;
    --dark-highlight: #3D0078;
}

.gallery li figcaption {
    background-color: var(--dark-highlight);
}

.flexblock.gallery li figcaption:before {
    border-color: transparent transparent var(--dark-highlight) var(--dark-highlight);
}


body {
    background-color: var(--background-color);
    zoom: 100%;
}

section h1,
section h2 {
    font-family: 'CorporativeBlack';
    font-weight: 900;
    font-style: normal;
    color: var(--main-color);
}

h3,
h4,
h5,
h6 {
    font-family: 'CorporativeMedium';
    font-style: normal;
    font-weight: normal;
    color: var(--main-color);
}



.fa {
    min-width: 24px;
    text-align: center;
}

a,
h6 {
    color: var(--main-color);
}

a:hover {
    color: var(--main-color);
    text-decoration: underline;
}

.subline {
    margin-top: -0.4em;
    margin-bottom: 1em;
    font-family: 'CorporativeMedium';
    font-style: normal;
    font-weight: 500;

}

section div,
section p,
section span,
.abula {
    font-family: 'ZillaSlab';
    font-style: normal;
    font-weight: normal;
    line-height: 1.5em !important;
    color: var(--main-color);

}

section div mark,
section p mark,
section span mark {
    font-family: 'ZillaSlabHighlight';
    font-style: normal;
    font-weight: normal;
    background-color: transparent;
    letter-spacing: 0px;
    line-height: 1.5em !important;
    color: var(--main-color);

}


.light {
    opacity: 0.66;
}

.left {
    text-align: left;
}

.flexblock.gallery li {
    /**/
}

@media (min-width:1024px) {
    .flexblock.gallery li {
        width: 25%;
        margin-right: 2%;
        margin-left: 2%;
    }
}

.flexblock.gallery li:nth-child(n+4) {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
}

footer {
    position: fixed;
    top: auto;
    bottom: -10px;
    left: 0;
}

footer a {
    margin-right: 0px;
    color: var(--main-color);
}



.MAN h1,
.MAN h2,
.MAN h4 {
    color: #D91D4B;
}

.MAN h2 {
    font-size: 4.2rem;
}

.MAN figure img {
    object-position: 100% 100%;
}

.IoB h1,
.IoB h2,
.IoB h4 {
    color: #6653FF;
}

.IoB h2 {
    font-size: 4.0rem;
}

.ThinxNet h1,
.ThinxNet h2,
.ThinxNet h4 {
    color: #ff6600;
}

.natureOffice h1,
.natureOffice h4,
.natureOffice h2 {
    color: #5F9E64;
}

.Dynomedia h1,
.Dynomedia h4,
.Dynomedia h2 {
    color: #00AEEF;
}

.KIGG h1,
.KIGG h4,
.KIGG h2 {
    color: #D00027;
}

figcaption {
    width: 100%;
    text-align: left;
}

.flexblock.clients li div {
    margin: 30px;
    margin-top: 25px;
}

.bg-inverted {
    background-color: #1BF9D8;
}

.frontend h1,
.frontend h2,
.frontend h4,
.bg-inverted h1,
.bg-inverted h2,
.bg-inverted h4 {
    color: #333;
}

.bg-pattern {
    background-color: #F9F8F4;
    background-image: url(/images/pattern3.png);
    background-repeat: repeat-x;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom right
}

.v4 {
    background-color: var(--background-color);
    background-image: url(/images/v4.1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center
}

.contact {
    background-color: var(--background-color);
    background-image: url(/images/pattern3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right
}

.freelance {
    background-color: var(--background-color);
    background-image: url(/images/freelance3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right
}

.freelance h2,
.freelance h4,
.freelance p,
.freelance a {
    color: #F9F8F4;
}

.freelance a {
    text-decoration: underline;
}

.bg-pattern a {
    color: #333;
}

.bg-pattern a:hover,
.bg-pattern a:active {
    color: var(--main-color);
}

.center-court {
    text-align: left;
    min-width: 66%;
}

.center-court p {
    margin-left: 20px;
}

.center-court svg {
    margin-right: 15px;
}


.text-med {
    font-size: 100%;
    line-height: 2.4rem;
}


.description {
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
}

.features li img {
    vertical-align: top;
    float: left;
    margin-right: 10px;
}




::selection {
    color: white !important;
    background-color: #1BF9D8 !important;
}

::-moz-selection {
    color: white;
    background-color: #1BF9D8;
}