:root {
  --main-color: #1bf9d8;
  --background-color: #15032b;
  --dark-highlight: #3d0078;
  --white: #f9f8f4;
}

body {
  background-color: var(--background-color);
  zoom: 100%;
}

section h1,
section h2 {
  font-family: "CorporativeBlack";
  font-weight: 900;
  font-style: normal;
  color: var(--main-color);
}

h3,
h4,
h5,
h6 {
  font-family: "CorporativeMedium";
  font-style: normal;
  font-weight: normal;
  color: var(--main-color);
}

a,
h6 {
  color: var(--main-color);
}

a:hover {
  color: var(--main-color);
  text-decoration: underline;
}

.subline {
  margin-top: -0.4em;
  margin-bottom: 1em;
  font-family: "CorporativeMedium";
  font-style: normal;
  font-weight: 500;
}

section div,
section p,
section span,
.abula {
  font-family: "ZillaSlab";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5em !important;
  color: var(--main-color);
}

section div mark,
section p mark,
section span mark {
  font-family: "ZillaSlabHighlight";
  font-style: normal;
  font-weight: normal;
  background-color: transparent;
  letter-spacing: 0px;
  line-height: 1.5em !important;
  color: var(--main-color);
}

section div mark::before,
section div mark::after,
section p mark::before,
section p mark::after,
section span mark::before,
section span mark::after {
  content: "\2009";
}

.light {
  opacity: 0.66;
}

.left {
  text-align: left;
}

.gallery li figcaption {
  background-color: var(--dark-highlight);
  background-color: #222;
  background-color: var(--white);
}

.gallery li figcaption h3 {
  font-family: "ZillaSlabHighlight";
  font-style: normal;
  font-weight: normal;
  background-color: transparent;
  letter-spacing: 0px;
  line-height: 1.5em !important;
  color: var(--background-color);
}

.gallery li figcaption h3::before,
.gallery li figcaption h3::after {
  content: "\2009"
}

.flexblock.gallery li figcaption:before {
  border-color: transparent transparent var(--white) var(--white);
}

@media (min-width: 1024px) {
  .flexblock.gallery li {
    width: 25%;
    margin-right: 2%;
    margin-left: 2%;
  }
}

.flexblock.gallery li:nth-child(n + 4) {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
}

footer {
  position: fixed;
  top: auto;
  bottom: -10px;
  left: 0;
}

footer a {
  margin-right: 0px;
  color: var(--main-color);
}

.jobs .flex-content {
  background-color: var(--white);
}

.jobs .flex-content h6,
.jobs .flex-content ul,
.jobs .flex-content p {
  color: #222;
}

.jobs .flex-content h2 {
  margin-left: -20px;
}

/*
  JOBS
*/

.MAN h1,
.MAN h2,
.MAN h4 {
  color: #d91d4b;
}

.MAN h2 {
  font-size: 4.2rem;
}

.MAN figure img {
  object-position: 100% 100%;
}

.IoB h1,
.IoB h2,
.IoB h4 {
  color: #6653ff;
}

.IoB h2 {
  font-size: 4rem;
}

.ThinxNet h1,
.ThinxNet h2,
.ThinxNet h4 {
  color: #ff6600;
}

.natureOffice h1,
.natureOffice h4,
.natureOffice h2 {
  color: #5f9e64;
}

.Dynomedia h1,
.Dynomedia h4,
.Dynomedia h2 {
  color: #00aeef;
}

.KIGG h1,
.KIGG h4,
.KIGG h2 {
  color: #d00027;
}

figcaption {
  width: 100%;
  text-align: left;
}

.flexblock.clients li div {
  margin: 30px;
  margin-top: 25px;
}

.bg-inverted {
  background-color: #1bf9d8;
}

.frontend h1,
.frontend h2,
.frontend h4,
.bg-inverted h1,
.bg-inverted h2,
.bg-inverted h4 {
  color: #333;
}

.v4 {
  background-color: var(--background-color);
  background-image: url(/images/v4.1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

.contact a {
  font-family: "ZillaSlabHighlight";
  font-style: normal;
  font-weight: normal;
  background-color: transparent;
  letter-spacing: 0px;
  line-height: 1.5em !important;
  color: var(--main-color);
}

.contact a::before,
.contact a::after {
  content: "\00a0";
}

.freelance {
  background-color: var(--background-color);
  background-image: url(/images/freelance3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}

.freelance h2,
.freelance h4,
.freelance p,
.freelance a {
  color: #f9f8f4;
}

.freelance a {
  text-decoration: underline;
}

.education h2,
.education h3,
.education h6,
.education p,
.education a {
  color: var(--white);
}

.education h3 {
  font-family: "CorporativeBlack";
  font-weight: 900;
  font-style: normal;
}

.clients li,
.features li {
  background-color: #ffffff11;
}

.bg-pattern a {
  color: #333;
}

.bg-pattern a:hover,
.bg-pattern a:active {
  color: var(--main-color);
}

.center-court {
  text-align: left;
  min-width: 66%;
}

.center-court p {
  margin-left: 20px;
}

.center-court svg {
  margin-right: 15px;
}

.text-med {
  font-size: 100%;
  line-height: 2.4rem;
}

.description {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.features li img {
  vertical-align: top;
  float: left;
  margin-right: 10px;
}

.white {
  color: white !important;
}

.bg-white {
  background-color: white !important;
}

.bg-white .hamburgler-icon,
.bg-white .hamburgler-icon:before,
.bg-white .hamburgler-icon:after {
  background-color: white !important;
}

.hamburgler-menu figure#dark {
  padding: 20px;
  background-color: var(--background-color);
  color: #fff;
}

::selection {
  color: white !important;
  background-color: #1bf9d8 !important;
}

::-moz-selection {
  color: white;
  background-color: #1bf9d8;
}