:root {
  --size: calc(4pt + 1vh);
}

html,
body {
  background-color: #0000ff;
  color: #eee;
  font-size: var(--size);
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
}
a,
a:link,
a:visited,
a:active,
a:hover,
a:any-link {
  font-size: 1rem;
  color: #eee;
  text-decoration: underline;

  cursor: pointer;
}

pre {
  margin: auto;
  font-family: "JetBrains Mono";
  font-weight: 400;

  display: inline-block;
}

mark {
  background-color: transparent;
  color: inherit;
}

strong {
  font-weight: 700;
}

/*

  Special styles

*/

#back,
#forward {
  text-decoration: none;
}

#options {
  font-size: 16px;
  font-weight: 600;
  line-height: 8px;
  position: absolute;
  top: 20px;
  left: 0px;
  cursor: pointer;
  margin: 0;
}
#navigation {
  font-size: 16px;
  font-weight: 700;
  line-height: 8px;
  position: absolute;
  bottom: 20px;
  left: 0px;
  margin: 0;
}
#options,
#navigation {
  left: 28px;
}
