:root {
  --main: #1bf9d8;
  -contrast: #5900b0;

  --brand: #0000ff;
  --brand-50: #f3f7f9;
  --brand-100: #e8f6fa;
  --brand-200: #b9e1fa;
  --brand-300: #90cafa;
  --brand-400: #56a3f8;
  --brand-500: #3076f6;
  --brand-600: #2a54f3;
  --brand-700: #2845e9;
  --brand-800: #2736c2;
  --brand-900: #202f99;

  --text: var(--brand-900);
  --text-light: var(--brand-100);

  --background: var(--brand);
  --background-light: var(--brand-100);

  --h1: var(--brand-200);
  --h2: var(--brand-300);
  --p: var(--brand-400);

  /* jobs */
  --man: #e40045;
  --internet-of-blah: #6653ff;
  --thinxnet: #ff6600;
  --natureoffice: #5f9e64;
  --dynomedia: #00aeef;
  --kigg: #d00027;
  /* timings */
  --duration: 0.33s;
  --delay: 1s;
}

h1 {
  color: var(--h1);
  transition: color 0.33s linear 1s;
}
h2 {
  color: var(--h2);
  transition: color 0.33s linear 1s;
}
h3 {
  color: var(--h2);
  transition: color 0.33s linear 1s;
}
h4,
h5,
h6,
p,
td,
div,
button,
strong {
  color: var(--p);
  transition: color 0.33s linear 1s;
}

html {
  height: 100vh !important;
  overflow: hidden;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "CorporativeMedium", sans-serif !important;
  background-color: var(--background);
}

body {
  border: 10px solid #f3f8f9;
  transition: all 0.33s linear 1s;
}

.hidden {
  display: none;
}

.impress-disabled * {
  opacity: 0;
}
/**/

h3 a {
  color: #4a4a4a;
  position: relative;
  bottom: 0.3rem;
}
/**/
.interaction {
  position: fixed;
  bottom: 0.5rem;
  left: calc(50% - 100px);
  width: 200px;

  transition: left 0.33s linear;
}
.button.is-text {
  text-decoration: none;
  background-color: transparent !important;
  color: var(--p);
}
.button.is-text:hover,
.button.is-text.is-hovered,
.button.is-text:focus,
.button.is-text.is-focused {
  color: var(--brand-500);
}

.button.is-text.control.imprint {
  transition: margin 0.33s linear 1s;
}

a,
a:visited {
  color: var(--brand-300);
  text-decoration: none;
}
a:hover,
a:active {
  color: var(--brand-400);
  text-decoration: none;
}

mark {
  background-color: var(--brand-200);
  color: var(--brand);

  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 2px;

  /* background-image: url(../images/mark0.svg);
  background-size: cover;
  background-repeat: no-repeat; */
}

.is-256x256 {
  width: 256px;
  height: 256px;
}

figcaption {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.2) 100%
  );
  font-size: 0.7rem;
  position: relative;
  bottom: 2rem;
  left: 0rem;
  /* right: 10rem; */
  padding: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.ribbon.is-brand:not(.is-outlined) {
  background-color: var(--brand);
  border-color: transparent;
  color: var(--text-light) !important;
}
.ribbon {
  border-radius: 4px 0px 0px 4px;
}
/* 
imprint...
*/
.imprint .modal-content {
  width: 80vw;
}
.imprint .box {
  width: 80vw;
  height: 80vh;
}

/*
// HACK: 
*/
section.step {
  min-width: 80vw;
  /* width: calc(100vh / 100vw * 100%); */
  /* height: 100vh; */
}
/* .columns {
  margin: auto;
  max-width: 90%;
} */
/* @media screen and (max-width: 768px) {
  section {
    min-width: 200vw;
  }
} */

/* @media screen and (max-width: 1024px) {
  section {
    min-width: 200vw;
  }
}

@media screen and (max-width: 1215px) {
  section {
    min-width: 100vw;
  }
}

@media screen and (max-width: 1407px) {
  section {
    min-width: 100vw;
  }
} */
