:root {
  --size: calc(5pt + 1vh);
}

html,
body {
  background-color: #0000ff;
  color: #eee;
  font-size: var(--size);
  font-family: "Victor Mono";
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
}
a,
a:link,
a:visited,
a:active,
a:hover,
a:any-link {
  font-size: 1rem;
  color: #eee;
  text-decoration: none;
}
mark {
  background-color: transparent;
  color: inherit;
}

strong {
  font-weight: 700;
}

em {
  font-weight: 300;
}

pre {
  margin: auto;
  font-family: "Victor Mono";
  font-weight: 500;

  display: inline-block;
}
main > pre {
  outline: 1px solid yellow;
}
