	<section class="bg-pattern">
		<div class="wrap">
			<div class="content-center center-court">
				<h1>Alexander Schedler</h1>
				<h4 class="subline">Munich, Germany</h4>
				<p class="text-intro fadeInUp">
					Internet application engineering, <br/>
					development and management
				</p>
				<p class="text-intro fadeInUp">
					Javascript (Frontend and Backend), <br/> 
					HTML, CSS, Node, CouchDB
				</p>
			</div>
		</div>
	</section>