<section>
    <div class="wrap">
        <h2>Personal Skills</h2>
        <h4 class="subline">
            and Competences
        </h4>
        <ul class="flexblock clients border">
            <li class="fadeInUp ">
                <div>
                    <h2>
                        Languages
                    </h2>
                    German (Mother tongue)<br/>
                    English (fluently)
                </div>
            </li>
            <li class="fadeInUp ">
                <div>
                    <h2>
                        Social skills
                    </h2>
                    Analytical and creative thinker<br/>
                    Empathetic listener and reflective discussant<br/>
                    Balanced personality even under pressure
                </div>
            </li>
            <li class="fadeInUp ">
                <div>
                    <h2>
                        Organisational skills 
                    </h2>
                    Entrepreneurial mind and decisive planner<br/>
                    Eager learner of new technologies<br/>
                    Able to work well-structured also upon deadlines
                </div>
            </li>
            <li class="fadeInUp ">
                <div>
                    <h2>
                        Interests
                    </h2>
                    Internet culture <br/>
                    Politics <br/>
                    Movie & Cinema <br/>
                    Philosophy
                </div>
            </li>
        </ul>
    </div>
</section>