<section class="frontend">
    <div class="wrap">
        <h2>Technologies Overview</h2>
        <h4 class="subline">Experience and Expertise Frontend Technologies</h4>
        <table>
            <thead>
                <tr>
                    <th>Technology</th>
                    <th>Expertise</th>
                    <th>Period of application</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>HTML</td>
                    <td>expert</td>
                    <td>10+ years</td>
                </tr>
                <tr>
                    <td>CSS</td>
                    <td>expert</td>
                    <td>10+ years</td>
                </tr>
                <tr>
                    <td>Javascript</td>
                    <td>expert</td>
                    <td>10+ years</td>
                </tr>
                <tr>
                    <td>WebComponents / Polymer</td>
                    <td>experienced</td>
                    <td>3 years</td>
                </tr>
                <tr>
                    <td>Riotjs</td>
                    <td>experienced</td>
                    <td>2 years</td>
                </tr>
                <tr>
                    <td>graphics design and editing</td>
                    <td>expert</td>
                    <td>10+ years</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>