<section>
    <div class="wrap">
        <h2>Technologies Overview</h2>
        <h4 class="subline">Experience and Expertise (extract)</h4>
        <ul class="flexblock features">
            <li>
                <div>
                    <h2>
                        <img src="images/html.svg" /> HTML / CSS
                    </h2>
                    Expert with over 10 years of application.
                </div>
            </li>
            <li>
                <div>
                    <h2>
                        <img src="images/js.svg" />
                        Javascript
                    </h2>
                    Expert with over 10 years of application.
                </div>
            </li>
            <li>
                <div>
                    <h2>
                        <img src="images/couchdb.svg" />
                        CouchDB/CouchApps	
                    </h2>
                    Expert with about 9 years of application.
                </div>
            </li>
            <li>
                <div>
                    <h2>
                        <img src="images/polymer.svg" />
                        WebComponents / Polymer	
                    </h2>
                    Experienced with about 3 years of application.
                </div>
            </li>
            <li>
                <div>
                    <h2>
                        <img src="images/riot.svg" />
                        Riot	
                    </h2>
                    Experienced with about 2 years of application.
                </div>
            </li>
            <li>
                <div>
                    <h2>
                        <img src="images/vue.svg" />
                        Vue
                    </h2>
                    Intermediate with about 1 years of application.
                </div>
            </li>
            <li>
                <div>
                    <h2>
                        <img src="images/angular.svg" />
                        Angular
                    </h2>
                    Expert with about 6 years of application.
                </div>
            </li>


            <li>
                <div>
                    <h2>
                        <img src="images/nodejs.svg" />
                        NodeJS
                    </h2>
                    Experienced with about 6 years of application.
                </div>
            </li>
             <li>
                <div>
                    <h2>
                        <img src="images/ruby.svg" />
                        Ruby
                    </h2>
                    Experienced with about 7 years of application.
                </div>
            </li>
           
        </ul>
    </div>
</section>