<section class="bg-inverted">
    <div class="wrap">
        <h2>Technologies Overview</h2>
        <h4 class="subline">Experience and Expertise Backend Technologies</h4>
        <table>
            <thead>
                <tr>
                    <th>Technology</th>
                    <th>Expertise</th>
                    <th>Period of application</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Javascript</td>
                    <td>expert</td>
                    <td>10+ years</td>
                </tr>
                <tr>
                    <td>NodeJS</td>
                    <td>expert</td>
                    <td>6 years</td>
                </tr>
                <tr>
                    <td>CouchDB/CouchApps</td>
                    <td>expert</td>
                    <td>9 years</td>
                </tr>
                <tr>
                    <td>Docker</td>
                    <td>experienced</td>
                    <td>4 years</td>
                </tr>
                <tr>
                    <td>PaaS / AWS / Heroku, etc </td>
                    <td>experienced</td>
                    <td>8 years</td>
                </tr>
                <tr>
                    <td>Ruby</td>
                    <td>experienced</td>
                    <td>7 years</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>