<section class="bg-pattern">
	<div class="wrap">
		<div class="content-center center-court">

			<h2>Alexander Schedler</h2>
			<h4 class="subline">Munich, Germany</h4>
			<p class="fadeIn">
				<a href="tel:+491714123929" title="Phone">
					<svg class="fa-mobile" viewBox="0 0 512 512">
						<use xlink:href="#fa-mobile"></use>
					</svg>
					+49 171 4 123 929
				</a>
				<br>
				<a href="mailto:alex@schedler.co" title="Email">
					<svg class="fa-envelope" viewBox="0 0 512 512">
						<use xlink:href="#fa-envelope"></use>
					</svg>
					alex@schedler.co
				</a>
				<br>
				<a href="https://www.twitter.com/kulturpessimist" title="Twitter" target="_blank">
					<svg class="fa-twitter" viewBox="0 0 512 512">
						<use xlink:href="#fa-twitter"></use>
					</svg>
					@kulturpessimist
				</a>
				<br>
				<a href="https://www.github.com/kulturpessimist" title="Github" target="_blank">
					<svg class="fa-github" viewBox="0 0 512 512">
						<use xlink:href="#fa-github"></use>
					</svg>
					/kulturpessimist
				</a>
				<br>
				<a href="https://www.linkedin.com/in/alexanderschedler" title="LinkedIn" target="_blank">
					<svg class="fa-linkedin" viewBox="0 0 512 512">
						<use xlink:href="#fa-linkedin"></use>
					</svg>
					/alexanderschedler
				</a>
				<br>
				<a href="https://www.xing.com/profile/Alex_Schedler" title="Xing" target="_blank">
					<svg class="fa-xing" viewBox="0 0 512 512">
						<use xlink:href="#fa-xing"></use>
					</svg>
					/Alex_Schedler
				</a>
			</p>
		</div>
	</div>
</section>