				<section>
					<div class="wrap">
						<h2>Alexander Schedler</h2>
						<h4 class="subline">Curriculum Vitae</h4>
						<ul class="flexblock gallery">
							<li class="fadeInUp">
								<a href="#slide=4" title="Internet of Blah">
									<figure>
										<img alt="Internet of Blah Logo" src="images/IOB.png">
										<figcaption>
											<h3>Internet of Blah</h3>
										</figcaption>
									</figure>
								</a>
							</li>
							<!--
							<li class="fadeInUp">
								<a href="#slide=5" title="PURR">
									<figure>
										<img alt="PURR Logo" src="images/PURR.png">
										<figcaption>
											<h2>PURR</h2>
										</figcaption>
									</figure>
								</a>
							</li>
							-->
							<li class="fadeInUp">
								<a href="#slide=5" title="ThinxNet">
									<figure>
										<img alt="ThinxNet Logo" src="images/ThinxNet.png">
										<figcaption>
											<h3>ThinxNet</h3>
										</figcaption>
									</figure>
								</a>
							</li>
							<li class="fadeInUp">
								<a href="#slide=6" title="natureOffice">
									<figure>
										<img alt="natureOffice Logo" src="images/natureOffice.png">
										<figcaption>
											<h3>natureOffice</h3>
										</figcaption>
									</figure>
								</a>
							</li>
							<li class="fadeInUp">
								<a href="#slide=7" title="DYNOMEDIA">
									<figure>
										<img alt="DYNOMEDIA Logo" src="images/Dynomedia.png">
										<figcaption>
											<h3>DYNOMEDIA</h3>
										</figcaption>
									</figure>
								</a>
							</li>
							<li class="fadeInUp">
								<a href="#slide=8" title="KIGG">
									<figure>
										<img alt="KIGG Logo" src="images/KIGG.png">
										<figcaption>
											<h3>KIGG</h3>
										</figcaption>
									</figure>
								</a>
							</li>
						</ul>
					</div>
				</section>