<section class="fullscreen">
    <div class="card-50">
        <figure>
            <img src="images/this-is-PURR.png" alt="iWatch">
            <figcaption>
                <a href="https://purr.is/awesome" title="PURR">
                    <svg class="ffa-external-link">
                        <use xlink:href="#fa-external-link"></use>
                    </svg>
                    PURR.is
                </a>
            </figcaption>
        </figure>
        <div class="flex-content">
            <h2>PURR / Schedler, Knothe &amp; Partner mbB</h2>
            <ul class="description">
                <li>
                    <strong class="text-label">Role:</strong> Frontend / Design / CEO
                </li>
                <li><strong class="text-label">Dates:</strong> June 2016 – onwards</li>
            </ul>
            <h6>Main activities</h6>
            <p>
                Everything customer facing<br/>
                User interface design and usability<br/> 
                User Experience and interaction design<br/> 
                Cross platform software development and application engineering
            </p>
            <h6>Responsibilities</h6>
            <p>
                Corporate and Business Development of the startup as a co-founder.<br/>
                Conception, engineering and development of the company‘s products.
            </p>

        </div>
    </div>
</section>