<section class="fullscreen IoB">
    <div class="card-50">
        <figure>
            <img src="images/Internet-of-Blah.jpg" alt="Internet of Blah">
            <figcaption>
                <a href="https://www.internet-of-blah.com/" title="Internet of Blah" target="_blank">
                    <svg class="ffa-external-link">
                        <use xlink:href="#fa-external-link"></use>
                    </svg>
                    Internet of Blah
                </a>
            </figcaption>
        </figure>
        <div class="flex-content">
            <h2>Internet of Blah</h2>
            <ul class="description">
                <li>
                    <strong class="text-label">Role:</strong> Frontend / Design / CEO
                </li>
                <li><strong class="text-label">Dates:</strong> September 2017 – onwards</li>
            </ul>
            <h6>Main activities</h6>
            <p>
                User interface design and usability<br/> 
                User Experience and interaction design<br/> 
                Cross platform software development and application engineering
            </p>
            <h6>Responsibilities</h6>
            <p>
                Corporate and Business Development of the startup as a co-founder.<br/>
                Conception, engineering and development of the company‘s products.
            </p>

        </div>
    </div>
</section>