<section class="fullscreen">
    <div class="card-50">
        <figure>
            <img src="images/this-is-PURR.jpg" alt="PURR">
            <figcaption>
                <a href="https://purr.is/awesome" title="PURR" target="_blank">
                    <svg class="ffa-external-link">
                        <use xlink:href="#fa-external-link"></use>
                    </svg>
                    PURR.is
                </a>
            </figcaption>
        </figure>
        <div class="flex-content">
            <h2>PURR / Schedler, Knothe &amp; Partner</h2>
            <ul class="description">
                <li>
                    <strong class="text-label">Role:</strong> Frontend / Design / CEO
                </li>
                <li><strong class="text-label">Dates:</strong> June 2016 – onwards</li>
            </ul>
            <h6>Main activities</h6>
            <p>
                Cross platform software development and application engineering<br/>
                Web application and architectural consulting<br/> 
            </p>

        </div>
    </div>
</section>