<section class="fullscreen ThinxNet">
    <div class="card-50">
        <figure>
            <img src="images/ThinxNetStreets.jpg" alt="ThinxNet GmbH">
            <figcaption>
                <a href="https://www.thinxnet.com" title="ThinxNet GmbH" target="_blank">
                    <svg class="ffa-external-link">
                        <use xlink:href="#fa-external-link"></use>
                    </svg>
                    ThinxNet GmbH
                </a>
            </figcaption>
        </figure>
        <div class="flex-content">
            <h2>ThinxNet GmbH</h2>
            <ul class="description">
                <li>
                    <strong class="text-label">Role:</strong> 
                    UI/UX Product Engineer
                </li>
                <li>
                    <strong class="text-label">Dates:</strong> 
                    June 2014 – June 2016
                </li>
            </ul>
            <h6>Main activities</h6>
            <p>
                User interface design and usability <br/> 
                User Experience and interaction design <br/> 
                Mobile application prototyping (iOS, Android)<br/> 
                Software development and application engineering
            </p>
            <h6>Responsibilities</h6>
            <p>
                Designing the UI and UX for iOS, Android and HTML5.<br/> 
                Supervising the different teams of native developers
                to ensure quality as well as a consistent look and feel over all platforms.<br/> 
                Fulfilling the roll of the
                product owner in our SCRUM workflow.</br>
                Supporting the management in the domain of brand building 
            </p>
        </div>
    </div>
</section>