<section>
    <div class="wrap">
        <div class="cta">
            <p>
                <img src="images/Education.png"  width="350"/>
            </p>

            <div class="benefit">
                <p class="text-subtitle">
                    SAE Institute Munich, Germany and <br/>
                    Middlesex University London, UK
                </p>
                <h3>Bachelor of Arts Multimedia</h3>
                <h6 class="subline">August 2001 - May 2004</h6>
                <p>
                    Contemporary issues and research (M1)<br/>
                    Business management, marketing and legal issues (M2)<br/>
                    Psychology, team management and storyboarding (M3)<br/>
                    Multimedia and education (M4)<br/>
                    Multimedia and Online Production<br/>
                    Graphic design
                </p>
            </div>
        </div>
    </div>
</section>