		</article>
	</main>

	<div class="hamburgler-menu">
		<div class="wrap">
			<div class="card-50 bg-white abula">

				<figure>
					<div>
						<h4>Stay in touch</h4>
						<p>
							If you like my CV you can download a copy as PDF by clicking the link below. Perfectly suited to print it out and show it
							to your friends and colleges.
						</p>
						<a href="https://literally.download/01EyKa" download="CV-Alexander-Schedler.pdf" class="button">Download CV as PDF</a>
					</div>
				</figure>

				<div class="flex-content">
					<div>
						<h4>Imprint</h4>
						<h5 class="subline">Angaben gemäß § 5 TMG:</h5>
						<p>
							Alexander Schedler<br /> freie Softwareentwicklung<br /> Dillinger Straße 64A<br /> 86637 Wertingen<br /><br /> Telefon:
							+49 171 4123 929<br /> E-Mail: alex@schedler.co
							<br/><br/> Umsatzsteuer-ID gemäß §27 a Umsatzsteuergesetz: DE 305 762 296</p>
						<h4>Haftungsausschluss (Disclaimer)</h4>
						<h5 class="subline">Haftung für Inhalte</h5>
						<p>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen
							verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte
							fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.<br/>						Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon
							unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung
							möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
						<h4>Urheberrecht</h4>
						<p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht.
							Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes
							bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind
							nur für den privaten, nicht kommerziellen Gebrauch gestattet.<br/> Soweit die Inhalte auf dieser Seite nicht vom Betreiber
							erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet.
							Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis.
							Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
						</p>
						<h4>Datenschutzerklärung</h4>
						<h5 class="subline">SSL-Verschlüsselung</h5>
						<p>Diese Seite nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel
							der Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-Verschlüsselung. Eine verschlüsselte Verbindung erkennen
							Sie daran, dass die Adresszeile des Browsers von „http://“ auf „https://“ wechselt und an dem Schloss-Symbol in Ihrer
							Browserzeile. Wenn die SSL Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten
							mitgelesen werden.
						</p>
						<h5 class="subline">Datenschutz</h5>
						<p>Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen
							Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.<br/>						Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten
							personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich,
							stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.<br/>						Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken
							aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.</p>
						<p>Quelle: <em><a href="https://www.e-recht24.de">eRecht24</a></em></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="hamburgler" class="hamburgler-icon-wrapper">
		<span class="hamburgler-icon"></span>
	</div>

	<script src="main.min.js"></script>

    <script>
		console.time('loading');
		document.onreadystatechange = function () {
		  	switch (document.readyState) {
		    	case "loading":
		  			break;
		    	case "interactive":
					console.timeEnd('loading');
					console.time('boot');
					window._emojis = [
						"😄", "😜", "😸", "🤪", 
						//"☝️", "🤘", 
						"👍", "✌️", 
						"👨‍💻", "👔", "🦄", 
					];
					window._loader = setInterval(function(){
						document.querySelector('body > div span').innerText = window._emojis[~~(Math.random() * window._emojis.length)]
					}, 750);
		  			break;
		    	case "complete":
		  			console.timeEnd('boot');
					setTimeout(function(){
		  				var loader = document.querySelector('body > div')
		  				loader.style.opacity = 0;
		  				clearInterval(window._loader);
						setTimeout(function(){
		  					document.body.className=="loading"?document.body.className='ready':'';
		  					document.body.removeChild(this);
		  				}.bind(loader), 760);
		  			}, 1000);
		  			break;
		  	}
		}
	</script>

</body>
</html>