		</article>
	</main>

	<div class="hamburgler-menu">
		<div class="wrap">
			<div class="card-50 bg-white abula">

				<figure>
					<div>
						<h4>Stay in touch</h4>
						<p>
							If you like my CV you can download a copy as PDF by clicking the link below. Perfectly suited to print it out and show it
							to your friends and colleges.
						</p>
						<a href="/assets/CV Alexander Schedler EN 2018-01-16.pdf" download="CV-Alexander-Schedler.pdf" class="button">Download CV as PDF</a>
					</div>
				</figure>

				<div class="flex-content">
					<div>
						<h4>Imprint</h4>
						<h5 class="subline">Angaben gemäß § 5 TMG:</h5>
						<p>
							Alexander Schedler<br /> freie Softwareentwicklung<br /> Brucknerstraße 26<br /> 81677 München<br /><br /> Telefon:
							+49 171 4123 929<br /> E-Mail: alex@schedler.co
							<br/><br/> Umsatzsteuer-ID gemäß §27 a Umsatzsteuergesetz: DE 305 762 296</p>
						<h4>Haftungsausschluss (Disclaimer)</h4>
						<h5 class="subline">Haftung für Inhalte</h5>
						<p>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen
							verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte
							fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.<br/>						Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon
							unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung
							möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
						<h4>Urheberrecht</h4>
						<p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht.
							Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes
							bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind
							nur für den privaten, nicht kommerziellen Gebrauch gestattet.<br/> Soweit die Inhalte auf dieser Seite nicht vom Betreiber
							erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet.
							Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis.
							Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
						</p>
						<h4>Datenschutzerklärung</h4>
						<h5 class="subline">SSL-Verschlüsselung</h5>
						<p>Diese Seite nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel
							der Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-Verschlüsselung. Eine verschlüsselte Verbindung erkennen
							Sie daran, dass die Adresszeile des Browsers von „http://“ auf „https://“ wechselt und an dem Schloss-Symbol in Ihrer
							Browserzeile. Wenn die SSL Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten
							mitgelesen werden.
						</p>
						<h5 class="subline">Datenschutz</h5>
						<p>Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen
							Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.<br/>						Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten
							personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich,
							stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.<br/>						Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken
							aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.</p>
						<h5 class="subline">Datenschutzerklärung für die Nutzung von Google Analytics</h5>
						<p>Diese Website nutzt Funktionen des Webanalysedienstes Google Analytics. Anbieter ist die Google Inc., 1600 Amphitheatre
							Parkway Mountain View, CA 94043, USA.<br/> Google Analytics verwendet so genannte "Cookies". Das sind Textdateien,
							die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die
							durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von
							Google in den USA übertragen und dort gespeichert.<br/> Mehr Informationen zum Umgang mit Nutzerdaten bei Google Analytics
							finden Sie in der Datenschutzerklärung von Google:
							<a href="https://support.google.com/analytics/answer/6004245?hl=de">https://support.google.com/analytics/answer/6004245?hl=de</a><br/>						Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir
							weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich
							werden nutzen können. Sie können darüber hinaus die Erfassung der durch den Cookie erzeugten und auf Ihre Nutzung der
							Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern,
							indem Sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: <a href="https://tools.google.com/dlpage/gaoptout?hl=de">https://tools.google.com/dlpage/gaoptout?hl=de</a></p>
						<h5 class="subline">Widerspruch gegen Datenerfassung</h5>
						<p>Sie können die Erfassung Ihrer Daten durch Google Analytics verhindern, indem Sie auf folgenden Link klicken. Es wird
							ein Opt-Out-Cookie gesetzt, der die Erfassung Ihrer Daten bei zukünftigen Besuchen dieser Website verhindert: <a href="javascript:gaOptout();">Google Analytics deaktivieren</a></p>
						<p>Quelle: <em><a href="https://www.e-recht24.de">eRecht24</a></em></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="hamburgler" class="hamburgler-icon-wrapper">
		<span class="hamburgler-icon"></span>
	</div>

	<script src="dist/main.min.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-39968606-1', 'auto');
		ga('send', 'pageview');
	</script>
    <script>
		console.time('loading');
		document.onreadystatechange = function () {
		  	switch (document.readyState) {
		    	case "loading":
		  			break;
		    	case "interactive":
					console.timeEnd('loading');
					console.time('boot');
					window._emojis = [
						"😄", "😜", "😸", 
						"🤘", "👍", "✌️", 
						"☝️", "👔", "🦄" , 
						"🤪", "👨‍💻"
					];
					window._loader = setInterval(function(){
						document.querySelector('body > div span').innerText = window._emojis[~~(Math.random() * window._emojis.length)]
					}, 750);
		  			break;
		    	case "complete":
		  			console.timeEnd('boot');
					setTimeout(function(){
		  				var loader = document.querySelector('body > div')
		  				loader.style.opacity = 0;
		  				clearInterval(window._loader);
						setTimeout(function(){
		  					document.body.className=="loading"?document.body.className='ready':'';
		  					document.body.removeChild(this);
		  				}.bind(loader), 760);
		  			}, 1000);
		  			break;
		  	}
		}
	</script>

</body>
</html>